* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(76, 127, 143);
    overflow-x: hidden;
}

.box {
    width: 100%;
    height: 100%;
    position: fixed;

    top: 0;
    left: 0;

    display: flex;

    align-items: center;
    align-content: center;
    justify-content: center;
   
}

.area {
    margin-top: 17%;
    display: block;
    width: 45%;
    height: 75%;

}

.out {
    margin-top: 7%;

    height: 10%;
    width: 100%;
    
    text-align: center;

    background-color: rgb(90, 145, 161);
    border: solid 3px rgb(79, 163, 189);
    
    font-family: monospace;
    color: whitesmoke;
    font-size: 80px;

    position: absolute;
}

.numbers {
    height: 65%;
    width: 90%;
    
    margin: 5%;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
}

.num {
    display: block;
    height: 20%;
    width: 20%;

    margin: 1%;
    margin-left: 2.5%;


    
    border: solid 3px rgb(79, 163, 189);

    text-align: center;
    vertical-align: middle;

    font-family: monospace;
    color: whitesmoke;
    font-size: 80px;

}

.num:hover {
    background-color: rgb(59, 59, 59);
}